[req]
distinguished_name = req_distinguished_name
prompt = no
[req_distinguished_name]
C = CA
ST = ON
L = Toronto
O = Sqoop Data Inc.
OU = Configuration Directory Services
CN = configds.sqoopdata.local
